* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1360px;
}
.head-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
main{
    margin-top: 40px;
}
.head-images {
  display: flex;
}
.head-notes {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.head-texts {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.head-links {
  display: flex;
  justify-content: center;
  gap: 35px;
}
.head-links a {
  color: #000000a5;
  padding: 2px 10px;
  text-decoration: none;
  border: 1px solid#D9D9D9;
  color: rgba(0, 0, 0, 0.65);
  /* font-family: ?????; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.head-texts p {
  color: rgba(0, 0, 0, 0.85);
  /* font-family: ?????; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero {
  /* padding-top: 25px; */
  max-width: 1360px;
  display: block;
  text-align: center;
  margin: 0 auto;
  background: #f4f8fa;
}
.hero img {
  padding-top: 40px;
}
.hero h1 {
  color: rgba(0, 0, 0, 0.85);
  font-family: Segoe UI;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 25px 0 15px;
}
.request {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-bottom: 60px;
}
.request p {
  color: #444150;
  font-family: ?????;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.request a {
  color: var(--01-bab-3, #01bab3);
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
}
form {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  background: var(--White, #fff);
  box-shadow: 0px 4px 56px 0px rgba(0, 0, 0, 0.04),
    0px 12px 16px 0px rgba(0, 0, 0, 0.04);
}
.forms {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.form {
  padding: 0 40px;
}
.from-content {
  display: flex;
  border-radius: 4px;
  background: var(--01-bab-3, #01bab3);
}
.from-content a {
  text-decoration: none;
  color: var(--ffffff, #fff);
  text-align: center;
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.form input {
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  background: #fbfbfb;
}
.form::placeholder{
    color: #444150;
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
}
/* .form input:last-child {
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  background: #fff; */
}
.form1 input {
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  background: #fff;
}
.form2{
    width: 416px;
height: 48px;
flex-shrink: 0;
}
.form3{
    width: 200px;
height: 48px;
flex-shrink: 0;
    border-radius: 4px;
border: 2px solid var(--01-bab-3, #01BAB3);
background: #FFF;
display: flex;
}
.gender{
    display: flex;
    padding: 24px 0;
}
.form4{
    border-radius: 4px;
border: 1px solid #D9D9D9;
background: var(--ffffff, #FFF);
width: 200px;
height: 48px;
flex-shrink: 0;
}


/* USTOZ UZR VAZIFAGA ULGURA OLMADIM
UNIVERSITETDA DEADLINE VA ORALIQLAR KO'PAYIB KETGANDI
ERTALAB TURIB ULGURGANIMCHA BIRINCI SECTIONNI YASASHGA HARAKAT QILDIM */
